In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [135]:
Data = pd.read_csv('Social_Network_Ads.csv')
Data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [136]:
X = Data.iloc[:,[2,3]]
y = Data['Purchased']
print(X)
y

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [137]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4)

In [138]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

     Age  EstimatedSalary
99    28            37000
67    23            82000
43    30            15000
192   29            43000
76    18            52000
..   ...              ...
129   26            84000
214   47            43000
58    22            18000
344   47           105000
268   47           144000

[240 rows x 2 columns]
     Age  EstimatedSalary
137   30           107000
231   39            42000
89    35            50000
200   35            39000
25    47            20000
..   ...              ...
207   52           114000
277   49            88000
353   37            57000
366   58            47000
8     25            33000

[160 rows x 2 columns]
99     0
67     0
43     0
192    0
76     0
      ..
129    0
214    0
58     0
344    1
268    1
Name: Purchased, Length: 240, dtype: int64
137    1
231    0
89     0
200    0
25     1
      ..
207    0
277    1
353    0
366    1
8      0
Name: Purchased, Length: 160, dtype: int64

In [139]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [140]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression()

In [141]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0], dtype=int64)

In [142]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[93,  9],
       [17, 41]], dtype=int64)

In [143]:
accuracy = (cm[0][0] + cm[1][1])/len(X_test)
accuracy

0.8375

In [ ]:
# y_train_predict = classifier.predict(X_train)
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_train, y_train_predict)
# cm